<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="TENDER" connectionString="Server =(localdb)\ProjectsV13;Database =DB_FORSAJ;Trusted_Connection = True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=true;" />

  </connectionStrings>
</configuration>
